<!-- main body -->
<div class="row">
  <div class="col-xs-12">
    <h3>Board Members Year: 2014</h3>
    <div class="row">
      <div class="col-xs-10 col-sm-8 col-md-7 div-center mem-container rel">
        <div class="col-xs-9 col-sm-4 div-xs-center">
          <img src="img/member.png" alt="member" class="img-responsive img-thumbnail xs-block">  
        </div>            
        <div class="col-xs-12 col-sm-7 col-md-8 pull-right text-xs-center mem-detail">
          <h3>Name: Sample Name</h3>
          <h4>Chairman, President</h4>                
          <p class="hidden-sm">
            Other Details. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo                
          </p>
        </div>
        <div class="clearfix"></div>              
      </div> 
      <div class="spacer"></div>  

      <div class="col-xs-10 col-sm-8 col-md-7 div-center mem-container rel">
        <div class="col-xs-9 col-sm-4 div-xs-center">
          <img src="img/member.png" alt="member" class="img-responsive img-thumbnail xs-block">  
        </div>                          
        <div class="col-xs-12 col-sm-7 col-md-8 pull-right text-xs-center mem-detail">
          <h3>Name: Sample Name</h3>
          <h4>Chairman, President</h4>                
          <p class="hidden-sm">
            Other Details. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo                
          </p>
        </div>
        <div class="clearfix"></div>              
      </div>                
      <div class="spacer"></div>

      <div class="col-xs-10 col-sm-8 col-md-7 div-center mem-container rel">
        <div class="col-xs-9 col-sm-4 div-xs-center">
          <img src="img/member.png" alt="member" class="img-responsive img-thumbnail xs-block">  
        </div>                          
        <div class="col-xs-12 col-sm-7 col-md-8 pull-right text-xs-center mem-detail">
          <h3>Name: Sample Name</h3>
          <h4>Chairman, President</h4>                
          <p class="hidden-sm">
            Other Details. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo                
          </p>
        </div>
        <div class="clearfix"></div>              
      </div>                
      <div class="spacer"></div>

    </div>                    
  </div>
</div>
<!-- main body -->